<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gulland</title>
    <!-- Estilo para resetar as config. dos navegadores -->
    <link href="css/reset.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="lib/bootstrap/bootstrap.min.css" rel="stylesheet">
		<!-- CSS -->
		<link href="css/style.css" rel="stylesheet">
  </head>
  <body>
