<% include partials/header %>
    <section class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="text-center title">
            <h2>Gulland Project - Crie e gerencie websites</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-2 col-md-8">

            <% if(validacao) { %>
              <div class="alert alert-danger">
                <strong>Atenção!</strong>
                <p><%= validacao %></p>
              </div>
            <% } %>

            <h3 class="text-center">- Cadastre-se -</h3>
            <form name="cadastro" action="/cadastrar" method="post">
              <div class="form-group">
                <label for="primeiro_nome">Primeiro Nome:</label>
                <input type="text" name="primeiro_nome" class="form-control">
              </div>
              <div class="form-group">
                <label for="segundo_nome">Segundo Nome:</label>
                <input type="text" name="segundo_nome" class="form-control">
              </div>
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" name="email" class="form-control">
              </div>
              <div class="form-group">
                <label for="senha">Senha:</label>
                <input type="password" name="senha" class="form-control">
              </div>
              <div class="radio">
                  <label class="col-md-6">
                    <input type="radio" name="tipo_template" value="blog">Blog
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310 230" style="background-color: white;">
                      <rect x="15" y="15" fill="#000000" width="280" height="70"></rect>
                      <rect x="15" y="98" fill="#fcdd6b" width="194" height="85"></rect>
                      <rect x="15" y="195" fill="#fcdd6b" width="194" height="35"></rect>
                      <rect x="220" y="98" fill="#b9f1a5" width="74" height="85"></rect>
                    </svg>
                  </label>
                  <label class="col-md-6">
                    <input type="radio" name="tipo_template" value="portifolio">Portifólio
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310 230" style="background-color: white;">
                      <rect x="15" y="15" fill="#f1372f" width="280" height="40"></rect>
                      <rect x="15" y="70" fill="#ebc25a" width="140" height="65"></rect>
                      <rect x="15" y="150" fill="#ebc25a" width="140" height="65"></rect>
                      <rect x="165" y="70" fill="#ebc25a" width="130" height="65"></rect>
                      <rect x="165" y="150" fill="#ebc25a" width="130" height="65"></rect>
                    </svg>
                  </label>
              </div>
              <div class="form-group">
                <label for="dominio">Dominio:</label>
                <input type="text" name="dominio" class="form-control">
              </div>

              <button type="submit" class="btn btn-defaul">Cadastrar-se</button>
            </form>
          </div>
        </div> <!-- row -->
      </div> <!-- container -->
    </section>
<% include partials/footer %>
