<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <!-- Estilo para resetar as config. dos navegadores -->
    <link href="css/reset.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="lib/bootstrap/bootstrap.min.css" rel="stylesheet">
		<!-- CSS -->
		<link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <section class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="text-center title">
            <h2>Gulland Project - Crie e gerencie websites</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-1 col-md-10">
            <h3 class="text-center">- Cadastre-se -</h3>
            <form name="cadastro" action="" method="post">
              <div class="form-group">
                <label for="email">Primeiro Nome:</label>
                <input type="email" name="primeiro_nome" class="form-control">
              </div>
              <div class="form-group">
                <label for="email">Segundo Nome:</label>
                <input type="email" name="segundo_nome" class="form-control">
              </div>
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" name="email" class="form-control">
              </div>
              <div class="form-group">
                <label for="senha">Senha:</label>
                <input type="password" name="senha" class="form-control">
              </div>
              <button type="submit" class="btn btn-defaul">Cadastrar-se</button>
            </form>
          </div>
        </div> <!-- row -->
      </div> <!-- container -->
    </section>
  </body>
  <!-- JQuery -->
  <script src="lib/jquery.min.js" charset="utf-8"></script>
  <!-- Bootstrap JS -->
  <script src="lib/bootstrap/bootstrap.min.js" charset="utf-8"></script>
</html>
