<% include partials/header %>
    <section class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="text-center title">
            <h2>Gulland Project - Crie e gerencie websites</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 linha-horizontal">

            <% if(validacao) { %>
              <div class="alert alert-danger">
                <strong>Atenção!</strong>
                <p><%= validacao %></p>
              </div>
            <% } %>

            <h3>- Faça login -</h3>
            <form name="login" action="/login" method="post">
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" name="email" class="form-control">
              </div>
              <div class="form-group">
                <label for="senha">Senha:</label>
                <input type="password" name="senha" class="form-control">
              </div>
              <button type="submit" class="btn btn-default">Entrar</button>
            </form>
          </div>
          <div class="col-md-7">
            <h3>- Cadastre-se -</h3>
            <p>Crie e gerencie seu site. Opções de criações: Blog e Site Portifólio</p>
            <!-- <button type="button" class="btn btn-default" name="button">Cadastrar-se</button> -->
            <a href="/cadastro" class="btn btn-default">Cadastrar-se</a>
          </div>
        </div> <!-- row -->
      </div> <!-- container -->
    </section>
<% include partials/footer %>
