<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <!-- Estilo para resetar as config. dos navegadores -->
    <link href="css/reset.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="lib/bootstrap/bootstrap.min.css" rel="stylesheet">
		<!-- CSS -->
		<link href="css/style.css" rel="stylesheet">
  </head>
  <body>
      <h1>LOGIN PAGE</h1>
      <div class="jumbotron">dsadf</div>
  </body>
  <!-- JQuery -->
  <script src="lib/jquery.min.js" charset="utf-8"></script>
  <!-- Bootstrap JS -->
  <script src="lib/bootstrap/bootstrap.min.js" charset="utf-8"></script>
</html>
